*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 6.25rem; */
    background-color: #35707c;
    min-height: 100vh;
}


.header{
    box-shadow: 8px 8px 8px 8px;
    width:350px;
    height: 300px;
    background-color: white;
    margin: auto;
    border-radius: 10px;
     
     

}

h3{
    margin-left: 100px;
    padding-bottom: 20px;
    padding-top: 10px;
}

button{
    border-radius: 10px;
    height: 35px;
    width: 70px;
    background-color:cornflowerblue;
    margin-left: 10px;
    margin-right: 5px;
}

#myText{
    border-radius: 10px;
    height: 30px;
}

ul{
    padding:16px;
     
    
}
li{
    list-style-type: none;
    background-color:azure;
    margin-top: 10px;
    border-radius: 5px;
    padding: 5px;
    
    /* text-decoration: line-through; */
}

ul li:hover {
    background-color:cadetblue




















}